@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}

body {
    background-color: #192860;
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    gap: 6rem;
    margin: 0%;
    color: white;
}

h3 {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 10px;
    margin: 0;
    text-align: center;
}

.container div:last-child h3 {
    padding-left: 10px;
}

#homeScore,
#guestScore {
    width: 340px;
    height: 220px;
    font-family: "Cursed Timer ULiL", sans-serif;
    color: aliceblue;
    padding-top: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 13vw;
    background-color: #3e2ea3;
    border-radius: 20px;
    box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.2);
}

.btn-container {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.btn-container button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    font-family: "Cursed Timer ULiL", sans-serif;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 5px;
    color: #e8e8e8;
    border: 2px solid #e8e8e8;
    box-shadow: 1px 1px 14px 1px rgba(36, 9, 146, 0.5) inset;
    transition: background-color ease-in-out 0.3s;
}

.btn-container button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.divContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 10px 0px;
}

.divContainer:has(#timer) {
    flex-direction: column;
}

.divContainer span {
    color: #fff;
}

#leader,
#timer {
    text-align: center;
    width: 200px;
}

#leader {
    font-size: 1.5rem;
}

.divContainer span {
    color: #fff;
    font-size: 3rem;
}

#newGame {
    position: relative;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    overflow: hidden;
    border-radius: 5px;
    transition: color ease-in-out 0.3s;
}

#newGame::before {
    content: '';
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: left ease-in-out 0.3s;
    z-index: -1;
}

#newGame:hover {
    color: #000;
}

#newGame:hover::before {
    left: 0%;
}